.defaultSplash {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
 
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: opacity 1s;
          transition: opacity 1s;
  z-index: 10000;
}

.defaultSplash--fadeOutLoading {
  opacity: 0;
}

.defaultSplash--displayNone {
  display: none;
}

#defaultSplash-phraseBox {
  height: 150px;
  margin-left: 50px;
  overflow: hidden;
  width: 360px;
}

#defaultSplash-footer {
  bottom: 30px;
  color: #273347;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
}

  #fontLoadComparer-proxima {
    font-family: "proxima-nova", Arial;
  }
  #fontLoadComparer-arial {
    font-family: Arial;
  }

/**
  * Makes the circle behind the check fade in.
  */
@-webkit-keyframes fade-opacity-in {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-opacity-in {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}